.vs/
.vscode/
RecruitmentWeb/
x64/Debug/*
!x64/Debug/mysqlcppconn-10-vs14.dll
!x64/Debug/mysqlcppconnx-2-vs14.dll
Others/local_password.txt
Third-Party/mysql-connector-c++-9.5.0-winx64/
*.obj
*.pdb
*.idb
*.ilk
*.tlog/
*.log
*.lastbuildstate
*.suo
*.user
*.userosscache
*.sln.docstates
